html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body,#main {
	display:block;
	height:100%;
	width:100%;
}
#main #main-header{
	height:50px;
	background-color:#aa223c;
}
#main #main-header h1{
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
#main #main-content{
	width:100%;
	height:500px;
	background-color: #dedede;
}
#main #main-content .tabs {
	display:none;
	height:500px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #dedede;
}
#main #main-content .active {
	display:block;
}
#main #main-content .tabs .news-content{
	height:125px;
	background-color:#FFF;
	margin:10px;
	display:block;
	box-shadow:  4px 4px 6px 0px rgba(50, 50, 50, 0.75);
}
#main #main-footer{
	height:50px;
	width:100%;
	background-color:#aa223c;
} 
#main #main-footer #menu{
	width:100%;
	height:100%;
}
#main #main-footer #menu {
    list-style:none;
    padding:0;
}
#main #main-footer #menu  li{
	display:block;
	float:left;
	width:135px;
}
#main #main-footer #menu li .menu-item{
	color: #fff;
    height: 50px;
    text-align: center;
    width: 100%;
	display:block;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	line-height:50px;
	font-family: "Open Sans",sans-serif;
	text-decoration:none;	
}

#main #main-footer #menu li .active{
	background-color: #dedede;
	color:#000;
}

#main #main-footer #menu li:first-child .menu-item ,#main #main-footer #menu li:last-child .menu-item {
	border:0px;
}